<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change email</title>
</head>
<body>
    <form action="/change-email" method="POST">
        <input type="text" name="email">
        <input type="submit" value="Modifica email">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</body>
</html>