<header class="p-4 flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold">Passport.js</h1>
    <nav class="mt-4">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-blue-500 hover:text-blue-700">Home</a></li>
            <li><a href="/user/login" class="text-blue-500 hover:text-blue-700">Login</a></li>
            <li><a href="/register" class="text-blue-500 hover:text-blue-700">Register</a></li>
        </ul>
    </nav>
</header>