<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('partials/_tailwind') %>
</head>

<body>
    <div id="app" class="container flex flex-col items-center gap-2 mx-auto max-w-[800px] pt-5">
        <%- include('partials/_header') %>
        <h1 class="text-3xl text-black font-semibold my-4">Dashboard</h1>

        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <h2 class="text-xl text-black font-semibold">Benvenuto, <%= user.username %></h2>
                <% if(user.role) { %>
                <p class="text-gray-500">Sei loggato con il ruolo: <%= user.role %></p>
                <% } %>
            </div>

            <div class="flex flex-col gap-2">
                <h2 class="text-xl text-black font-semibold">Azioni</h2>

                <% if (user.role === 'admin') { %>
                <a href="/admin/report"
                    class="w-fit shadow bg-amber-500 hover:bg-amber-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Report</a>
                <% } %>
                <a href="/user/logout"
                    class="w-fit shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Logout</a>
                <a href="https://accounts.google.com/Logout"
                    class="w-fit shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Logout da Google</a>
            </div>
        </div>
</body>

</html>